body{
    background-image: url("http://api.thumbr.it/whitenoise-361x370.png?");
}

/* NAV STYLING */
.navbar{
    border-bottom: 0.1em solid silver;
}

.nav-link{
    border-left: 0.1em silver solid;
    color: black !important;
    opacity: 0.7;
}

.nav-item:first-child .nav-link{
    border-left: none;
}  

@media only screen and (max-width: 1200px) {
.nav-item{
    width: 33%;
    text-align: center;
}
}

#aboutNavLink{
    border-left: none;
}


/* MAIN BODY CARD STYLING */
.line{
    background-color: silver;
    height: 0.4em;
    width: 100%;
    opacity: 0.4;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

#profilePic{
    height: 30em;
}

#bodyContainer{
    background-color: aliceblue;
    border: 0.1em solid silver;
    border-radius: 0.2em;
    padding: 1em 2em 1em 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* FOOTER STYLING */
.footer{
    border-top: 0.1em solid silver;
}