.projectDiv{
    position: relative;
    border: 1px solid black;
    margin-top: 0.3rem;
}


.projectTitle{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: navy;
    
    
}
