.projectDiv{
    border: 1px solid black;
    margin-top: 0.3rem;
    background-color: steelblue;
    border-radius: 0.2em;
    padding: 5px;
    height: 98%;
}

.projectTitle{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}



